body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.navbar_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px rgb(233, 216, 216) solid;
}

.navbar_logo {
  height: 80px;
}

.navbar_menu {
  display: flex;
}

.Home_menu {
  margin-left: 50px;
  list-style-type: none;
  font-size: large;
  font-weight: 300;
}
.Home_menu:hover {
  color: rgb(111, 153, 153);
}

.img_logo {
  margin-top: -85px;
}

.navfont {
  text-decoration: none;
  color: black;
}
.navfont:hover {
  color: blueviolet;
}
